.cart {
  background: white;
  border: 1px solid #e5e5e5;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
}

.cart h3 {
  color: #444;
  margin-bottom: 10px;
}
