body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eee;
  text-align: center;
}

/*Login*/
.login {
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  width: 300px;
}
.login input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

/*Inicio*/
.header {
  background-color: #007bff;
  color: white;
  padding: 20px 0;
  margin-bottom: 20px;
}
.header nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}
.header nav a:hover {
  text-decoration: underline;
}

/* Proyectos*/
.contenedorProyectos {
  display: flex;
  height: 100vh;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.btnVolver {
  display: block;
  margin-top: 300px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}

/* Formulario */
.formulario {
  flex: 1;
  text-align: left;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

.formulario label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.formulario input,
.formulario textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  padding: 12px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

/* Listado */
.listado {
  flex: 1.5;
  text-align: left;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow-y: auto;
}

.proyecto {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
}

.proyecto strong {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
}

/* CASOS DE PRUEBA */

.contenedorCasos {
  display: flex;
  height: 100vh;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.caso {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
}

.caso strong {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
}

/*Asignar casos a proyectos*/
.contenedorAsignarCasos {
  display: flex;
  height: 100vh;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.formularioCasos {
  width: 400px;
  text-align: left;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

select {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  color: #333;
  background-color: #fafafa;
  appearance: none;
  transition: all 0.3s ease;
  background-image: linear-gradient(45deg, transparent 50%, #777 50%),
    linear-gradient(135deg, #777 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

select:hover {
  border-color: #6c63ff;
  background-color: #fff;
}

select:focus {
  outline: none;
  border-color: #6c63ff;
  box-shadow: 0 0 4px rgba(108, 99, 255, 0.4);
}
