body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eee;
}

.header {
  text-align: center;
  padding: 20px 0;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
}
a {
  text-decoration: none;
}

button {
  padding: 20px 30px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  display: block;
  margin: 20px auto 0 auto;
}
