.item-detail-container {
  background: #fff4b2;
  padding: 30px;
  max-width: 450px;
  margin: 40px auto;
  border-radius: 15px;
  text-align: center;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.item-detail-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
  border: 3px solid white;
}

.item-detail-title {
  margin: 0 0 10px;
  color: #444;
  font-size: 1.8rem;
}

.item-detail-id {
  color: #666;
  margin-bottom: 10px;
}

.item-detail-price {
  font-size: 1.6rem;
  color: #ffb300;
  font-weight: bold;
}
