{{!< main    }}
<section class="container">
  <h1>404 - Página no encontrada</h1>
  <p>Lo sentimos, la página que estás buscando no existe.</p>
  <a href="/">Volver a la página de inicio</a>
</section>