{{!< main}}
{{! extiende de main.hbs }}
<section class="container">
  <h2>Bienvenido!</h2>

  {{#if msg}}
    <p class="alert">{{msg}}</p>
  {{/if}}

  <section class="container chat-container">
    <h2>Sistema de Mensajería</h2>

    <form id="chatForm" class="mb-3">
      <input
        type="text"
        id="messageInput"
        placeholder="Escriba su mensaje aqui..."
        class="form-control mb-2"
        autocomplete="off"
      />
      <button>Enviar</button>
    </form>

    <ul id="messages"></ul>

    <button id="disconnectBtn">Desconectarse</button>
  </section>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/chat.js"></script>