{{!< main    }}{{! Extiende de main.hbs}}
<section>
  <h2>Subir archivo</h2>
  {{#if msg}}
    <p class="alert">{{msg}}</p>
  {{/if}}

  <form action="upload" method="post" enctype="multipart/form-data">
    <input type="file" name="miArchivo" required />
    <button type="submit">Subir</button>
  </form>

  {{#if fileUrl}}
    <div class="container logo">
      {{#if isImage}}
        <img src="{{fileUrl}}" alt="Archivo subido" />
      {{else}}
        <a href="{{fileUrl}}" target="_blank">Descargar archivo</a>
      {{/if}}
    </div>
  {{/if}}

</section>