.cart-widget {
  position: relative; /* CLAVE */
  display: inline-block;
}

.cart-icon {
  width: 40px;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}
