header {
  background-color: #ffd95a;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

.home-link {
  color: #444;
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #444;
  font-weight: bold;
}

nav a.active {
  border-bottom: 2px solid white;
}
