header {
  background-color: #ffd95a;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

.home-link {
  color: #444;
  text-decoration: none;
}

/* NAV */
nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}

/* LINKS Y BOTONES IGUALES */
.nav-item {
  background: none;
  border: none;
  padding: 0;
  color: #444;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  position: relative;
}

/* Hover */
.nav-item:hover {
  color: #222;
}

/* Activo (solo NavLink) */
.nav-item.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: white;
}
