.category-container {
  padding: 25px;
  background-color: #fff4b2;
  min-height: 100vh;
}

.category-container h2 {
  color: #444;
  margin-bottom: 20px;
}

/* Reutilizamos grid consistente */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.category-loading {
  background: white;
  padding: 20px;
  width: fit-content;
  margin: 40px auto;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
  font-weight: bold;
  color: #444;
}
