.container {
  padding: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 10px;
}

.cart {
  margin-top: 30px;
  padding: 10px;
  border-top: 1px solid #ccc;
  align-items: center;
}
